<h1>Ajouter nouveau pony</h1>

<form [formGroup]="ponyForm" (ngSubmit)="onSubmit()">

    <span class="p-float-label">
        <input id="float-input" type="text" pInputText formControlName="name"> 
        <label for="float-input">Nom</label>
    </span>

    <span class="p-float-label">
        <input id="float-input" type="text" pInputText formControlName="color"> 
        <label for="float-input">Color</label>
    </span>

    <span class="p-float-label">
        <input type="number" name="age"  id="float-input" formControlName="age" />
        <label for="float-input">Age</label>
    </span>
    

    <button type="submit">Enregister</button>
</form>

